.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    background-color: aqua;
}

#speach {
    color: rgb(1, 24, 24);
    font-size: 30px;
    order: 1;
}

.content {
    order: 2;
    display: flex;
    justify-content: end;
    align-items: end;
    position: fixed;
    margin-top: 320px;
}

#advice-button {
    background-color: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.wait-cursor {
    cursor: wait !important;
}